.resistor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wire {
  flex-grow: 1;
  min-width: 25px;
  height: 4px;

  background-color: black;
}

.resistor > span {
  padding: 5px;
  border: 5px solid black;
}
